body{margin: 0;font:12px "PingFang SC", "Microsoft Yahei","SimSun",sans-serif;}
h1,h2,h3,h4,h5,h6 {margin: 0;}
p {margin: 0;}
ul {margin: 0;padding:0;}
li {list-style: none;}
a {text-decoration: none;}
dl,dt,dd {margin: 0;padding: 0;}
input,button{padding:0; outline: none;}
i {font-style: normal;}
img {border: none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;height: 0;}
.clearfix {zoom: 1;}
.fl {float: left;}
.fr {float: right;}
